<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ocean.clouduser.dao.UserDao">

	<select id="get" resultType="com.ocean.clouduser.entity.User">
		select `id`,`username`,`name`,`password`,`dept_id`,`email`,`mobile`,`status`,`user_id_create`,`gmt_create`,`gmt_modified`,`sex`,`birth`,`pic_id`,`live_address`,`hobby`,`province`,`city`,`district` from sys_user where id = #{value}
	</select>

	<select id="getList"  resultType="com.ocean.clouduser.entity.User">
		SELECT * FROM sys_user t WHERE 1=1
		<if test="name !=null">
             AND t.name=#{name}
		</if>
		<if test="username !=null">
			AND t.username=#{username}
		</if>
		order by create_dt desc

	</select>
	<resultMap id="deptWithUser" type="com.ocean.clouduser.entity.Dept">
		 <id column="id" property="deptId" ></id>
		 <result column="name" property="name"/>
		 <collection  ofType="com.ocean.clouduser.entity.User" column="id" property="userList">
			 <result column="uid" property="id"/>
			 <result column="uname" property="name" />
		 </collection>


	</resultMap>
	<select id="getDeptWithUser" resultMap="deptWithUser">
	select d.dept_id AS id ,d.name,u.user_id as uid,u.name AS uname from sys_dept d LEFT JOIN sys_user u ON u.dept_id = d.dept_id
	</select>

	 <select id="getDeptWithUser2"  resultType="java.util.Map">
	 select d.dept_id AS id ,d.name,u.user_id as uid,u.name AS uname from sys_dept d LEFT JOIN sys_user u ON u.dept_id = d.dept_id
	 </select>

	<select id="getDeptNames" resultType="java.lang.String">
		SELECT d.name FROM sys_dept d
	</select>



</mapper>